<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
  <ul class="list-unstyled nav navbar-nav navbar-default">
    <li *ngIf="!this.authService.isAuthenticated()">
      <a [routerLink]="['']">Home</a>
    </li>
    <li>
      <a [routerLink]="['register']">Register</a>
    </li>
    <li>
      <a [routerLink]="['pipe']">Pipe Demo</a>
    </li>
    <li>
      <a [routerLink]="['user']">User Demo</a>
    </li>
    <li>
      <a [routerLink]="['product']">Product</a>
    </li>
    <li>
      <a [routerLink]="['employee']">Employee</a>
    </li>
    <li>
      <a [routerLink]="['lazy']">Lazy</a>
    </li>
  </ul>
</div>

<br>
<br>
<h1> Counter in App : {{ dataService.counter }}</h1>
<button class="btn btn-default" (click)="increase()">Increase </button>
<hr>
<br>
<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- 
<div class="container">
  <app-register></app-register>
</div>
<br>
<hr>
<div class="container">
  <app-login></app-login>
</div> -->

<!-- 
<div class="container">
  <app-pipe-demo></app-pipe-demo>
</div> -->


<!-- 
<div class="container">
  <input type="text" [(ngModel)]="title">
</div> -->

<!-- <div>
  <app-user [title]="title" [users] = "users">
    <h1>Welcome to {{ title }} !!</h1>
    <footer>Some Footer Info</footer>
  </app-user>
</div> -->