<!--The content below is only a placeholder and can be replaced.-->

<h1> Counter in App : {{ dataService.counter }}</h1>
<button class="btn btn-default" (click)="increase()">Increase </button>
<hr>
<br>
<div class="container">
  <app-register></app-register>
</div>

<!-- <div class="container">
  <app-login></app-login>
</div> -->

<!-- 
<div class="container">
  <app-pipe-demo></app-pipe-demo>
</div> -->

<hr>
<br>


<div class="container">
  <input type="text" [(ngModel)]="title">
</div>

<div>
  <app-user [title]="title" [users] = "users">
    <h1>Welcome to {{ title }} !!</h1>
    <footer>Some Footer Info</footer>
  </app-user>
</div>